<aside class="w-64 bg-gradient-to-b from-background to-background/95 border-r border-border shadow-2xl asideContainer">
    <div class="p-6">
        <!-- Saludo -->
        <div class="flex items-center p-3 bg-border/20 rounded-lg mb-14">
            <div class="w-8 h-8 bg-gradient-to-r from-main to-secondary rounded-full flex items-center justify-center mr-3"
                >
                <i class="fas fa-user text-white text-xs"></i>
            </div>
            <div class="flex-1">
                <p class="text-base font-medium text-white">Hola! Usuario</p>
                <p class="text-sm text-gray-400">
                    @if(this.role === 'comercial'){
                    Comercial
                    } @else if (this.role === 'cliente') {
                    Cliente
                    }
                </p>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="space-y-2">
            <!-- Dashboard -->
            <a routerLink="/dashboard" routerLinkActive="bg-main/20 border-main text-white"
                class="flex items-center px-4 py-3 text-gray-300 rounded-lg hover:bg-main/10 hover:text-white transition-all duration-200 border border-transparent">
                <i class="fas fa-tachometer-alt mr-3 text-main"></i>
                Dashboard
            </a>
            <!-- Gestión de comprobantes -->
            <a routerLink="/comprobantes" routerLinkActive="bg-main/20 border-main text-white"
                class="flex items-center px-4 py-3 text-gray-300 rounded-lg hover:bg-main/10 hover:text-white transition-all duration-200">
                <i class="fa-solid fa-folder-open text-main mr-3"></i>
                {{ this.role === 'comercial' ? 'Gestión de comprobantes' : 'Mis comprobantes' }}
            </a>

            @if(role === 'comercial') {
                <!-- Clientes -->
                <a routerLink="/reports" routerLinkActive="bg-main/20 border-main text-white"
                    class="flex items-center px-4 py-3 text-gray-300 rounded-lg hover:bg-main/10 hover:text-white transition-all duration-200">
                    <i class="fas fa-chart-bar mr-3 text-main"></i>
                    Clientes
                </a>
            } @else {
                <!-- Formas de pago -->
                <a routerLink="/formas-de-pago" routerLinkActive="bg-main/20 border-main text-white"
                    class="flex items-center px-4 py-3 text-gray-300 rounded-lg hover:bg-main/10 hover:text-white transition-all duration-200">
                    <i class="fas fa-credit-card mr-3 text-main"></i>
                    Formas de pago
                </a>
            }


            <!-- Configuración -->
            <!-- <a routerLink="/settings" routerLinkActive="bg-main/20 border-main text-white"
                class="flex items-center px-4 py-3 text-gray-300 rounded-lg hover:bg-main/10 hover:text-white transition-all duration-200">
                <i class="fas fa-cog mr-3 text-main"></i>
                Configuración
            </a> -->

            <!-- Cerrar sesión -->
            <a class="flex items-center px-4 py-3 text-gray-300 rounded-lg hover:bg-main/10 hover:text-white transition-all duration-200 cursor-pointer"
                (click)="logout()">
                <i class="fas fa-sign-out-alt mr-3 text-main"></i>
                Cerrar sesión
            </a>


        </nav>
    </div>

    <!-- Bottom section -->
    <div class="absolute bottom-0 left-0 right-0 p-6">
        <!-- Logo -->
        <div class="flex items-center justify-center mb-8">
            <img class=" left-1/2 transform w-[70%]" src="assets/logo/portalbiz.svg" alt="Portal Biz Logo"
                fetchpriority="high" decoding="async">
        </div>
    </div>
</aside>