/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir fuente personalizada LTWaveAlt */
@font-face {
  font-family: 'LTWaveAlt';
  src: url('./assets/font/LTWaveAlt-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Mejora la carga de la fuente */
}

html,
body {
  height: 100%;
  font-family: 'LTWaveAlt', 'Urbanist', sans-serif; /* LTWaveAlt como principal, Urbanist como fallback */
}

html {
  scroll-behavior: smooth;
}


:root {
  --main-color: #ff1f43;
  /* Rojo brillante como el fondo animado */
  --secondary-color: #e50914;
  /* Rojo fuerte tipo Netflix para detalles */
  --background-color: #0b000c;
  /* Fondo oscuro total */
  --text-color: #ffffff;
  /* Blanco puro para contraste */
  --border-color: #8f001c;
  /* Bordes más apagados en rojo oscuro */
  --hover-color: #ff4757;
  /* Un rojo claro brillante para hover */
}

/* 👻 Fix para el autofill de Chrome que rompe el fondo */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.1) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.splashScreen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('assets/fondo-login.avif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
}


.splasShow {
  display: block;
  overflow: hidden;
  /* Esto ocultará la barra de desplazamiento */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

.splashShow::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

.splashHide {
  display: none;
}

body.no-scrollbar {
  overflow: hidden;
}

body.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}